.nav-style {
  text-decoration: none;
  background-color: #ffe6e5 !important;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 30000000;
}

a.nav-item {
  color: #b9171d;
}
.navbar-light .navbar-nav .show > .nav-link {
  color: #b9171d !important;
}
.navbar-light .navbar-nav .nav-link {
  color: #b9171d !important;
}
.navbar-nav .dropdown-menu {
  background-color: #b9171d !important;
  border-style: none !important;
}
a.dropdownlink {
  color: #ffe6e5 !important;
}

.body-container {
  margin-top: 56px;
}
.image-container {
  margin-top: 56px;
}

.header-container {
  background-image: url("/img/headerimage.png");
  height: 54vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.valueprop {
  position: absolute;
  top: 13%;
  padding: 0px 0px 0px 20px;
  font-size: 25px;
  font-family: "Comfortaa";
  font-weight: 600;
  letter-spacing: -1px;
  color: #ffbbba;
}

h2.header-text {
  font-size: 30px;
  font-family: "Comfortaa";
  font-weight: 600;
  letter-spacing: -1px;
  padding: 20px 0px 0px 20px;
}
.overview {
  height: 100vh;
  width: 100vw;
  background-color: #323794;
  margin-top: 56px;
}

.overview-embryology {
  height: 100vh;
  width: 100vw;
  background-color: white;
  margin-top: 56px;
}
.overview-embryology h2 {
  font-family: "Baloo";
  font-style: normal;
  font-weight: 400;
  color: #323794;
  margin: 20px 0px 20px 0px;
}

.overview-embryology p {
  color: #323794;
}

.overview h2 {
  font-family: "Baloo";
  font-style: normal;
  font-weight: 400;
  color: #323794;
  margin: 20px 0px 20px 0px;
}

h2.info-card-blue {
  font-family: "Baloo";
  font-style: normal;
  font-weight: 400;
  color: #ffe6e5;
}

.info-card-blue-p {
  font-family: "Comfortaa";
  color: #ffe6e5 !important;
}

.info-card {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 200;
  text-align: left;
  align-content: center;
  padding: 20px;
}
.info-card p {
  color: #323794;
}

.info-card-pink {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 200;
  color: #b9171d;
  text-align: left;
  align-content: center;
  padding: 20px;
}
.info-card-pink h2 {
  color: #b9171d;
}
.p-pink {
  color: #b9171d !important;
}

.white {
  color: white;
  background-color: white;
}
.info-card h2 {
  font-family: "Baloo";
  font-style: normal;
  font-weight: 400;

  margin: 20px 0px 20px 0px;
}

.info-card-pink {
}

.butn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  background-color: #b9171d;
  color: #ffe6e5;
  font-family: "Baloo";
  font-style: normal;
  font-weight: 400;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  margin: 0px 0px 0px 20px;
  position: absolute;
  bottom: 40px;
}
button.butn {
  transition: all 0.3s ease;
}
button.butn:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.08);
  text-decoration: none;
}

.button:focus {
  border: none;
  outline: none;
}

a.btn-overview {
  color: #ffe6e5;
}

a.btn-overview:hover {
  text-decoration: none;
}

a.btn-embryology {
  color: #ffe6e5;
}
a.btn-embryology:hover {
  text-decoration: none;
}

a.btn-description {
  color: #ffe6e5;
}
a.btn-description:hover {
  text-decoration: none;
}

.embryology {
  background-color: #323794;
}

.description {
  background-color: #b9171d;
}
@media only screen and (max-width: 414px) {
  .basis {
    animation: upsize 3s infinite linear;
  }

  @keyframes upsize {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.05);
    }
    50% {
      transform: scale(1.1);
    }
    75% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
}
video#background-video {
  height: 100%;
  width: 100%;
  float: left;
  top: 0;
  padding: none;
  position: fixed;
}

.container-gif {
  height: 100vh;
  width: 100vw;
  background-color: #ffe6e5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gif {
  width: 100vw;
  height: auto;
}

.nav-style {
  background-color: #ffe6e5;
  color: #b9171d;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 200;
}

.navbar-light .navbar-toggler {
  color: #b9171d !important;
  border-color: #b9171d !important;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("/img/menu.svg") !important;
}

.formstyle {
  background-color: #ffe6e5;
  height: 100vh;
  color: #323794;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 200;
  padding: 20px;
}

.loginbtn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffbbba;
  font-family: "Baloo";
  font-style: normal;
  font-weight: 400;
  background: white;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  margin: 0px 0px 0px 20px;
  bottom: 40px;
  position: center;
}

.signup-style {
  background-color: #ffbbba;
  height: 100vh;
  color: #323794;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 200;
}

.center {
  margin: 30px;
}

.btn-cut {
  padding: 10px;
  background-color: #b9171d;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin-left: 20px;
  border-style: none;
  margin-top: 30px;
}

.fa-cut {
  color: #ffe6e5;
  font-size: 22px;
}

.uterusicon {
  color: #ffe6e5;
}

.fgm {
  margin-top: 10vh !important;
}

.fgm-header h2 {
  margin-top: 56px;
  padding: 0px 0px 0px 20px;
  font-family: "Baloo";
  color: #323794;
  font-weight: 400;
}

.click-here {
  position: absolute;
  top: 8px;
  right: 26%;
  font-family: "Baloo";
  color: #323794;
  font-weight: 400;
  font-size: 18px;
}

.click-here:hover {
  text-decoration: none;
  color: #ff4ca3;
}

.fullcut {
  width: 65%;
}

.flex-container {
  flex-direction: row;
  width: 414px;
  position: absolute;
  top: 50vh;

  justify-content: space-between;
  text-align: center;
}

.form {
  margin-top: 135px;
}

label.form-label {
  color: #b9171d;
}

.form-control {
  border: 1px solid #b9171d;
}

.fgm-container {
  padding: 20px;
  margin-top: 20%;
}
.fgm-container-light {
  padding: 20px;

  background-color: #323794;
  height: 100vh;
  margin-top: 0;
}

.heading-type1 {
  font-family: "Baloo";
  color: #323794;
  font-weight: 400;
}

.p-type1 {
  font-family: "Comfortaa";
  color: #323794;
}

.heading-type2 {
  font-family: "Baloo";
  color: #b9171d;
  font-weight: 400;
}
.p-type2 {
  font-family: "Comfortaa";
  color: #b9171d;
}

.heading-type3 {
  font-family: "Baloo";
  color: #ffe6e5;
  font-weight: 400;
  margin-top: 20%;
}
.p-type3 {
  font-family: "Comfortaa";
  color: #ffe6e5;
}

.pink {
  background-color: #ffe6e5;
}

a.btn-pink {
  color: #323794;
}

.profile {
  background-color: #ffe6e5;
  font-family: "Comfortaa";
  height: 100vh;
}

h2.profile {
  font-family: "Baloo";
  color: #b9171d;
}
h3.profile {
  font-family: "Baloo";
  color: #b9171d;
}

.list-container {
  margin-top: 14%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 414px;
}

.search-bar {
  border-color: pink;

  width: 100%;
  margin: 0 auto;
  height: 43px;
}
