.nav-style {
  text-decoration: none;
}
.overview {
  height: 100vh;
  width: 100vw;

  background-color: #ffbbba;
}
.overview h2 {
  font-family: "Baloo";
  font-style: normal;
  font-weight: 400;
  color: #323794;
  margin: 20px 0px 20px 0px;
}

.info-card {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 200;
  text-align: left;
  align-content: center;
  color: #323794;
  padding: 20px;
}

.butn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffbbba;
  font-family: "Baloo";
  font-style: normal;
  font-weight: 400;
  background: white;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  margin: 0px 0px 0px 20px;
}

.embryology {
}
