.nav-style {
  text-decoration: none;
}
.overview {
  height: 100vh;
  width: 100vw;
  background-color: #ffbbba;
}

.overview-embryology {
  height: 100vh;
  width: 100vw;
  background-color: white;
}
.overview-embryology h2 {
  font-family: "Baloo";
  font-style: normal;
  font-weight: 400;
  color: #323794;
  margin: 20px 0px 20px 0px;
}

.overview-embryology p {
  color: #323794;
}

.overview h2 {
  font-family: "Baloo";
  font-style: normal;
  font-weight: 400;
  color: #323794;
  margin: 20px 0px 20px 0px;
}

.info-card {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 200;
  text-align: left;
  align-content: center;
  padding: 20px;
}
.info-card p {
  color: #323794;
}

.info-card-pink {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 200;
  color: #ffbbba;
  text-align: left;
  align-content: center;
  padding: 20px;
}
.info-card-pink h2 {
  color: #ffbbba;
}
.p-pink {
  color: #ffbbba !important;
}

.white {
  color: white;
}
.info-card h2 {
  font-family: "Baloo";
  font-style: normal;
  font-weight: 400;

  margin: 20px 0px 20px 0px;
}

.info-card-pink {
}

.butn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffbbba;
  font-family: "Baloo";
  font-style: normal;
  font-weight: 400;
  background: white;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  margin: 0px 0px 0px 20px;
  position: absolute;
  bottom: 40px;
}
button.butn {
  transition: all 0.3s ease;
}
button.butn:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.08);
  text-decoration: none;
}

.button:focus {
  border: none;
  outline: none;
}

a.btn-overview {
  color: #ffbbba;
}

a.btn-overview:hover {
  text-decoration: none;
}

a.btn-embryology {
  color: white;
}
a.btn-embryology:hover {
  text-decoration: none;
}

a.btn-description {
  color: white;
}
a.btn-description:hover {
  text-decoration: none;
}

.embryology {
  background-color: #323794;
}

.description {
  background-color: #ffbbba;
}

.basis {
  -webkit-transition: all 0.3s ease;
}

.basis:hover {
  -webkit-transform: translateY(-40vh);
  -ms-transform: scale(1.3);
  transform: scale(1.08);
}

video#background-video {
  height: 100%;
  width: 100%;
  float: left;
  top: 0;
  padding: none;
  position: fixed;
}

.container-gif {
  height: 100vh;
  width: 100vw;
  background-color: #ffbbba;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gif {
  width: 100vw;
  height: auto;
}
.nav-style {
  background-color: #ffbbba;
  color: white;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 200;
}

.formstyle {
  background-color: #ffbbba;
  height: 100vh;
  color: #323794;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 200;
  padding: 20px;
}

.loginbtn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffbbba;
  font-family: "Baloo";
  font-style: normal;
  font-weight: 400;
  background: white;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  margin: 0px 0px 0px 20px;
  bottom: 40px;
  position: center;
}

.signup-style {
  background-color: #ffbbba;
  height: 100vh;
  color: #323794;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 200;
}

.center {
  margin: 30px;
}
